<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.lovedev.chapter_2"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".FirstActivity"
			android:process=":kevin">
		</activity>
		<activity
			android:name=".SecondActivity"
			android:process="org.lovedev.chapter_2.kevin">
		</activity>

		<service
			android:name=".MessengerService"
			android:enabled="true"
			android:exported="true"
			android:process=":remote">
			<intent-filter>
				<action android:name="org.lovedev.messenger"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</service>

		<activity android:name=".MessengerActivity">
		</activity>

		<service
			android:name=".BookManagerService"
			android:enabled="true"
			android:exported="true"
			android:process=":book">
			<intent-filter>
				<action android:name="org.lovedev.book"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</service>

		<service
			android:name=".BinderPoolService"
			android:enabled="true"
			android:exported="true"
			android:process=":binderPool">
			<intent-filter>
				<action android:name="org.lovedev.binderPool"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</service>

		<provider
			android:name=".BookProvider"
			android:authorities="org.lovedev.chapter_2.BookProvider"
			android:permission="org.lovdedev.PROVIDER"
			android:process=":provider"/>

		<activity android:name=".ProviderActivity">
		</activity>
	</application>

</manifest>